body{
    padding: 0;
    margin: 0;
}
*{
    padding: 0px;
    margin: 0px;
}

.logo{
    padding: 0px;
    margin: 0px;
    width: 60px;
}
.service{
    width: 100%;
    height: auto;
    margin: 5px;
    background: palegoldenrod;
    border-radius: 5px;
    text-align: center;
    padding: 5px;

}

.serviceIcon{
    width: 100px;
    height: 100px;
    background: #fff;
    border-radius: 100%;
    margin: auto;
    color: darkorange;
    font-size: 50px;
}

p{
    font-size: 16px;
    font-family: Montserrat;
    font-weight: 300;
    color: #000000;
}

h3{
    font-size: 30px;
    font-family: Roboto;
    font-weight: 700;
    color: #000;
}

h4{
    font-size: 24px;
    font-family: Montserrat;
    font-weight: 700;
    color: #000000;
    margin-top: 15px;
}

.navItem{
    text-decoration: none;
    color: #fff;;
    font-size: 18px;
    font-family: Montserrat;
    font-weight: 400;
    padding:7px !important ;
    letter-spacing: 3px;    
    margin: 0px;
   
}

.nav-link {
    color: #fff;
    letter-spacing: 3px;
    font-size: 18px;
    font-family: Montserrat;
    font-weight: 400;
    padding:7px !important ;
}

h3 img{
    width: 100%;
    height: 50rem;
    background-repeat: no-repeat;
    padding: 0px;
    margin: 0px;
    position: relative;
    text-align: center;
    color: #f9f9f9;
}

.overlay{
    width: 100%;
    height: 50rem;
    position: absolute;
    top:0;
    background-color:  rgba(26, 32, 30, 0.212);
    color: #f5f5f5;
    padding-top: 20rem;
    margin: auto;
}

.topSpace{
    padding-top: 110px !important;
}

.content-data{
    width: 100%;
    height: auto;
    margin: auto;
    
    color: #f9f9f9;
    font-weight: 600;  
}

.todo{
    cursor: pointer !important;
}